language: php

php:
    - 5.4
    - 5.5
    - 5.6

before_script:
    - sudo composer selfupdate
    - composer install --dev --prefer-source

script: phpunit --coverage-text

notifications:
    email: false
