{% extends noLayout is defined and noLayout == true ? viewbaseLayout : pagelayout %}

{% block content %}
    {% import "EzSystemsRepositoryFormsBundle:Content:content_form.html.twig" as contentForms %}

    <section class="ez-content-edit">
        {{ contentForms.display_form(form) }}
    </section>
{% endblock %}
