{% extends noLayout is defined and noLayout == true ? viewbaseLayout : pagelayout %}

{% block content %}
    <section class="ez-content-edit">
        {{ form_start(form) }}
        {{- form_widget(form.fieldsData) -}}
        {{ form_end(form) }}
    </section>
{% endblock %}
