{% extends no_layout is defined and no_layout == true ? view_base_layout : page_layout %}

{% block content %}
    <section class="ez-content-edit">
        {{ form_start(form) }}
        {% for child in form.fieldsData %}
            {{- form_widget(child) -}}
        {% endfor %}
        {{ form_end(form) }}
    </section>
{% endblock %}
